DATABASE_URL="postgresql://USER:PASSWORD@HOST:6543/postgres"
DIRECT_URL="postgresql://USER:PASSWORD@HOST:5432/postgres"
REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_TLS=true
JWT_SECRET=
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=604800